.ui-popup-pillbox-container {

}
.ui-popup-pillbox {

}

#ui-pillbox-container {
  display: flex;
  overflow-y: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.ui-pillbox {
  transition: 250ms;
  color: rgb(192, 192, 192);
  margin: 10px;
  padding: 5px 15px;
  background-color:rgba(20, 20, 20, 0.75);
  min-width: 233px;
  min-height: 190px;
  border-radius: 10px;
}
.ui-pillbox:hover {
  background-color:rgba(20, 20, 20, 1);
}

#ui-main-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.ui-pillbox button {
  font-weight: bold;
  border-radius: 5px;
  background: black;
  color: white;
  padding: 6px 9px;
  border-width: 1px;
}

.ui-pillbox input {
  background-color: gray;
  color: black;
  font-weight: bold;
}

#container-ip-insertion {
  display: flex;
  flex-flow: column;
}

#ip-insertion-bar {
  width: 80%;
  margin: 10px auto;
}

#ip-insertion-warning {
  visibility: hidden;
  color: orange;
  border: 1px dashed orange;
  text-align: center;
}
